click==6.7
click-plugins==1.0.3
cligj==0.4.0
cycler==0.10.0
decorator==4.3.0
descartes==1.1.0
Fiona==1.7.13
kiwisolver==1.0.1
matplotlib==2.2.3
munch==2.3.2
networkx==2.1
numpy==1.15.1
pyparsing==2.2.0
python-dateutil==2.7.3
pytz==2018.5
Shapely==1.6.4.post2
six==1.11.0
tqdm==4.25.0
